/* 전체 선택자 */

* {
  color: red;
}

/* 요소 선택자 */

h1 {
  background-color: yellow;
}

/* 클래스 선택자 */

.go-index {
  border: 3px double black;
  margin-block: 10px;
  padding: 10px;
}

/* 아이디 선택자 */

#frontend {
  font-size: 36px;
  font-weight: bold;
}

/* 속성 선택자 */

[title] {
  background-color: lime;
  padding: 10px;
}

/* 자손 결합자 */

.navigation li {
  color: blue;
}

.navigation .menu li {
  margin-block: 10px;
}

/* 자식 결합자 */

.menu > li {
  list-style-type: disc;
}

.menu > li > ul > li {
  list-style-type: square;
  margin-left: 20px;
}

/* 선택자 그룹화 */
h1,
.menu,
#frontend,
[title] {
  font-style: italic;
}

/* 가상 요소 선택자 */

p::first-letter {
  font-size: 60px;
}
h1::before {
  content: '프론트엔드';
}
h1::after {
  content: ' 부트캠프';
}

/* 가상 클래스 선택자 */
.navigation:hover {
  background-color: pink;
}
