/* body 요소의 글자 색상은 자식 요소에 상속 */

body {
  color: green;
}

/* inherit 키워드 값을 이용하여 부모로부터 상속받은 스타일을 적용 */

a {
  color: inherit;
}

/* 요소 선택자의 가중치 - 1 */

p {
  margin: 10px;
  color: red;
}

/* 아이디 선택자의 가중치 - 100 */

#euid {
  color: purple;
}
/* 클래스 선택자의 가중치 - 10 */

#frontend {
  color: teal;
}

#like {
  color: salmon;
}

p.lion {
  color: orange;

  /* 요소 선택자의 가중치 - 1 */
}

p {
  color: blue;
}

/* !important를 활용하여 우선 순위 강제로 높이기 */
p.bootcamp {
  color: gray !important;
}

/* 상속과 겹침 그리고 우선순위 */
div.likelion {
  color: red;
}

.school {
  color: purple;
}
