/* 메인 페이지 스타일 */
/* 본문의 기본 글꼴 설정 */
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 하이퍼 링크 스타일 */
a {
  text-decoration: none;
}
/* 컨테이너 레이아웃 */
.container {
  margin: 50px;
  display: flex;
  flex-flow: column nowrap;

  h1,
  h2 {
    margin-block: 20px;
  }

  .markup {
    background-color: yellow;
    order: 1;
  }
}
